name: Tests
on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14.x ]

    steps:
    - uses: actions/checkout@v2
    - name: Use Nodejs
      uses: actions/setup-node@v1
      with:
          node-version: '14'
    - name: Install node_modules
      run: npm install

    - name: Install rust
      run: |
        curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf | sh

    - name: Install circom
      run: | 
        git clone https://github.com/iden3/circom.git && 
        cd circom && 
        cargo build --release &&
        cargo install --path circom

    - name: Test circom circuits
      run: npm run test
